#contact_modal {
    display: none;
    z-index: 4;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 7% 0 7%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    min-width: 50%;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}
.modal > #photographer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.modal > #photographer-header > img {
    width: 30px;
    height: 30px;
    cursor: pointer;


}

.modal > header > h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin: 0 0 0 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 25%;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-radius: 5px;
    cursor: pointer;
}
.filter > p {
    margin-right: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #312E2E;
}


.img-md {
    width: 200px;
    height: 200px;
}


.dropbtn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #D3573C;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-content a {
    color: white;
    width: 170px;
    text-align: center;
    padding: 11px 0 11px 0;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    border-top : 1px solid white;
    outline-offset: -5px
}

.dropdown-content a:hover {
    background-color: #D3573C
}

.dropdown:hover .dropdown-content {
    display: block;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.media-preview {
    margin: 2rem;
    height: auto;
}


.media-image {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.media-video {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.media-title {
    width: fit-content;
    margin: 0 0 0 0 ;
    font-size: 1.3rem;
    color: #901C1C;
}

.media-like-count {
    font-size: 1.3rem;
    margin : 0 .5rem 0 0;
    color: #901C1C;
}

.media-summary {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.like-icon {
    color: #901C1C;
    font-size: 1.3rem;
    --fa-animation-duration: 0s
}

.red {
    color: red;
}

.like-icon:hover {
    color: #D3573C;
    --fa-animation-duration: 1s;
}

main {
    width: 100%;
}

.photographer-content {
    margin : 0 5% 0 5%;
}

.overlay {
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background-color : rgba(0,0,0,0.9);
    z-index : 3;
}

.lightbox-next {
    position : fixed;
    top : 50%;
    left : 95%;
    font-size : 4rem;
    color : #901C1C;
    padding : 1rem;
    cursor : pointer;
}

.lightbox-prev {
    position : fixed;
    top : 50%;
    left : 5%;
    font-size : 4rem;
    color : #901C1C;
    padding : 1rem;
    cursor : pointer;
}

.lightbox-close {
    position: fixed;
    top: 0;
    left: 95%;
    font-size: 4rem;
    color: #901C1C;
    padding: 1rem;
    cursor: pointer;
}

.lightbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 50px;
}

.lightbox-container > img {
    max-width: 100%;
    height: 100vh;
    border-radius: 10px;
    object-fit: contain;
}

.lightbox-container video {
    max-width: 100%;
    max-height: 95vh;
    border-radius: 10px;
    object-fit: contain;
}

#message {
    width: 100%;
    height: 6rem;
    resize: none;
    border: none;
    border-radius: 5px;
}

.photographer-price-and-like {
    position: fixed;
    bottom: 0;
    right: 2%;
    width: fit-content;
    height: 5%;
    background-color: #D3573C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 0;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 5px;
}


#photographer-likes-container,
#photographer-price-container {
    margin: .5rem

}
#photographer-likes-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    flex-wrap: nowrap;
}

#photographer-price-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    flex-wrap: nowrap;
}

#photographer-likes, #photographer-price {
    font-size: 1.3rem;
    white-space: nowrap;
}
@media screen and (max-width: 600px) {
    .photographer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1031px) {
    .filter-container {
        margin : 1rem 1rem 0 1rem;
        max-width: 100%;
    }

    .filter {
        justify-content: center;
    }
}
