#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 7% 0 7%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    min-width: 50%;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}
.modal > #photographer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.modal > #photographer-header > img {
    width: 30px;
    height: 30px;
    cursor: pointer;


}

.modal > header > h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin: 0 0 0 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 25%;
    margin: 2% 0 0 7%;
}
.filter > p {

    font-size: 1.3rem;
    font-weight: bold;
    color: #312E2E;
}


.img-md {
    width: 200px;
    height: 200px;
}


.dropbtn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #D3573C;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-content a {
    color: white;
    width: 170px;
    text-align: center;
    padding: 11px 0 11px 0;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    border-top : 1px solid white;
    outline-offset: -5px
}

.dropdown-content a:hover {
    background-color: #D3573C
}

.dropdown:hover .dropdown-content {
    display: block;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.media-preview {
    margin: 2rem;
    height: auto;
}


.media-image {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.media-video {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.media-title {
    width: fit-content;
    margin: 0 0 0 0 ;
    font-size: 1.3rem;
    color: #901C1C;
}

.media-like-count {
    font-size: 1.3rem;
    color: #901C1C;
}

.media-summary {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.like-icon {
    color: #901C1C;
    font-size: 1.3rem;
    --fa-animation-duration: 0s
}

.like-icon:hover {
    color: #D3573C;
    --fa-animation-duration: 1s;
}

main {
    width: 100%;
}

.photographer-content {
    margin : 0 5% 0 5%;
}
