@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    margin: 1% 5% 0 5%;
    text-align: center;
    flex-wrap: wrap;
}

/* Si l'écran est étroit place "Nos photographes en dessous du logo */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    header > a {
        margin-bottom: 1%;
        width: 100%;
    }

    header > h1 {
        width: 100%;
        margin-top: 0;
        margin-bottom: 2rem;

    }
}

h1 {
    color: #901C1C;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: flex;
    flex-wrap: wrap;
}

.photographer_section article {
    flex: 1 0 32%;
    margin: 5px 5px 7% 5px;
    height: auto;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 5% 0 0 0 ;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.round {
    border-radius: 50%;
}

.cover {
    object-fit: cover;
}

.card-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-link > h2 {
    text-align: center;
    margin : 0;
}

.photographer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.photographer-info > *{
    margin: 0.8%;
    text-align: center;
}

.photographer-city {
    font-size: 1rem;
    color: #901C1C;
    font-weight: 500;
}

.photographer-tagline {
    font-size: .8rem;
}
.photographer-price {
    font-size: .8rem;
    color: #B7B6B6;
}

.photographer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    background-color : #FAFAFA;
    margin : 0 5% 0 5%;
    min-height: 20rem;
}
